{% extends "public/templates/public_template.html" %}

{% block title %}Convert{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Vernon/LUNA image metadata creator</h2>
      <h3>Vernon Object/AV linking metadata creator</h3>
      <p>This form will generate the XML which links AV records onto objects</p>
      <p>It will also generate the XML which updates AV records in Vernon with their IIIF IDs</p>
      <p>Please fill in the textarea below, following instructions where stated.</p>
      <hr>
      <form action="/inputvernonlink" method="POST">
        <h3>Enter image names</h3>
        <li>Copy the image list from step 1 into this textbox.</li>
        <hr>
        <div class="form-group">
          <label>Image Names</label>
          <input type="textarea" class="form-control" id="image_names" name="image_names"
                 placeholder="Enter some DIU style image names" required>
        </div>
        <button type="submit" class="btn btn-primary">Get Vernon Linking XML</button>
        {% if feedback %}
        <p class="text-danger float-right">{{ feedback }}</p>
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock %}