{% extends "public/templates/public_template.html" %}

{% block title %}Convert{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Vernon/LUNA image metadata creator</h2>
      <h3>IIIF link generator for Vernon</h3>
      <p>This will generate an XML file which will update im_refs with their IIIF URLs and attach the LUNA URL to the AV record</p>

      <hr>
      <form action="/inputiiif" method="POST">
        <h3>Enter image names</h3>
        <p>This should just be the image list generated in the first stage, regardless of whether you are using DIU or Arnold names.
        </p>
        <hr>
        <div class="form-group">
          <label>Image Names</label>
          <input type="textarea" class="form-control" id="image_names" name="image_names"
                 placeholder="Enter some images" required>
        </div>

        <button type="submit" class="btn btn-primary">Get IIIF update XML</button>
        {% if feedback %}
        <p class="text-danger float-right">{{ feedback }}</p>
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock %}